# NUPRIYA SAXENA
# batch-DS0622

# Capstone Project--IMDb Dataset

This capstone is divided into a 4-phase duration.



# Phase 1

1) Webscrape the provided URL  - IMDB dataset:

https://www.imdb.com/search/title/?genres=action&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=f11158cc-b50b-4c4d-b0a2-40b32863395b&pf_rd_r=XZ8X52H1R40B7KG5SNZ9&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_1

2) Store the entire data in two different CSV files as per the given fields:

The first CSV file data contains :

Sno, Movie Name, Director Name, Duration, year, ratings, Metascore

Bifurcate the Director field into subfields as per the number of directors of the movie belongs to such as Director1, director2

The second CSV file contains the following:

Movie Name, stars, votes, Genre, Gross collection, Certification

Bifurcate the stars field into 4 subfields as per the number of stars worked in the movie such as star1, star2, star3, star4

Bifurcate the genre into 3 subfields as per the number of genres the movie belongs to such as :

Genre1, genre2, genre3

# Importing Webscrapping Libraries

In [1]:
from bs4 import BeautifulSoup,SoupStrainer
import requests

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By

import time

In [3]:
from selenium.common.exceptions import  StaleElementReferenceException,NoSuchElementException,ElementNotVisibleException,ElementNotInteractableException,SessionNotCreatedException,TimeoutException,InvalidSelectorException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as ec
import time

# Getting the automated driver

In [4]:
driver=webdriver.Chrome(r"c:\Users\dell\Downloads\chromedriver_win32\chromedriver.exe")

# Loading the given URL

In [5]:
driver.get("https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc")

# WebScrapping

In [6]:
Sno=[]
movie_name=[]
duration=[]
year=[]
ratings=[]
metascore=[]
votes=[]
genre=[]
gross_collection=[]
certification=[]
director_name=[]
stars_name=[]

In [7]:
start=0
end=35
delay=10
for page in range(start,end):
    WebDriverWait(driver,delay)
        
    try:
        no=driver.find_elements(By.XPATH,'//span[@class="lister-item-index unbold text-primary"]')
        for i in no:
            Sno.append(i.text)
    except NoSuchElementException:
        Sno.append('-')
    except StaleElementReferenceException:
        Sno.append('-')
        
    try:
        mname=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]')
        for j in mname:
            movie_name.append(j.text.split()[1:-1])
    except NoSuchElementException:
        movie_name.append('-')
    except StaleElementReferenceException:
        movie_name.append('-')   
        
    try:
        y=driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
        for j in y:
            year.append(j.text)
    except NoSuchElementException:
        year.append('-')
    except StaleElementReferenceException:
        year.append('-')
        
    try:
        dura=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
        for j in dura:
            duration.append(j.text)
    except NoSuchElementException:
        duration.append('-')
    except StaleElementReferenceException:
        duration.append('-')
        
    try:
        rate=driver.find_elements(By.XPATH,'//div[@class="inline-block ratings-imdb-rating"]')
        for j in rate:
            ratings.append(j.text)
    except NoSuchElementException:
        ratings.append('-')
    except StaleElementReferenceException:
        ratings.append('-')     
    
    
    try:
        meta=driver.find_elements(By.XPATH,'//div[@class="inline-block ratings-metascore"]')
        for j in meta:
            metascore.append(j.text.strip())
    except NoSuchElementException:
        metascore.append('None')
    except StaleElementReferenceException:
        metascore.append('-') 
      
        
    try:
        vote=driver.find_elements(By.XPATH,'//p[@class="sort-num_votes-visible"]')
        for j in vote:
            votes.append(j.text.strip().split()[1])
    except NoSuchElementException:
        votes.append('-')
    except StaleElementReferenceException:
        votes.append('-')
        
        
    try:
        gross=driver.find_elements(By.XPATH,'//p[@class="sort-num_votes-visible"]')
        for j in gross:
            gross_collection.append(j.text.split()[-1])
    except NoSuchElementException:
        gross_collection.append('-')
    except StaleElementReferenceException:
        gross_collection.append('-')  
        
        
    try:
        gen=driver.find_elements(By.XPATH,'//span[@class="genre"]')
        for j in gen:
            genre.append(j.text)
    except NoSuchElementException:
        genre.append('-')
    except StaleElementReferenceException:
        genre.append('-')
        
    try:
        certi=driver.find_elements(By.XPATH,'//span[@class="certificate"]')
        for j in certi:
            certification.append(j.text)
    except NoSuchElementException:
        certification.append('Not Available')
    except StaleElementReferenceException:
        certification.append('-')  
        
    try:
        link=driver.find_elements(By.XPATH,'//*[@id="main"]/div/div[3]/div/div[position()>=1 and position()<=1750]/div[3]/p[3]')
        for i in link:
            director_name.append(i.text.strip()[10:].split('|')[0:1])
            stars_name.append(i.text.strip()[15:].split('|')[1:])
    except NoSuchElementException:
        director_name.append('-')
        stars_name.append('-')
    except StaleElementReferenceException:
        director_name.append('-') 
        stars_name.append('-')
        
        
    try:
        next_button=driver.find_element(By.XPATH,'//a[@class="lister-page-next next-page"]')
        next_button.click()
    except NoSuchElementException:
        pass

In [12]:
driver.close()

# WebScrapping done and got all the data needed

In [8]:
print(len(Sno),len(movie_name),len(duration),len(year),len(ratings),len(metascore),len(votes),len(genre),len(gross_collection),len(certification),len(director_name),len(stars_name))

1750 1750 1750 1750 1750 1566 1750 1750 1750 1740 1750 1750

# Creating dataframes and csv

In [9]:
import pandas as pd

In [10]:
df=pd.DataFrame({'Sno':Sno[0:1551],
                 'Movie Name':movie_name[0:1551],
                 'Director Name':director_name[0:1551],
                 'Duration':duration[0:1551],
                 'year':year[0:1551],
                 'ratings':ratings[0:1551],
                 'Metascore':metascore[0:1551],})

df.head()

,Sno,Movie Name,Director Name,Duration,year,ratings,Metascore
0,1.,"[The, Dark, Knight]",[Christopher Nolan ],152 min,(2008),9.0,84 Metascore
1,2.,"[The, Lord, of, the, Rings:, The, Return, of, ...",[Peter Jackson ],201 min,(2003),9.0,94 Metascore
2,3.,[Inception],[Christopher Nolan ],148 min,(2010),8.8,74 Metascore
3,4.,"[The, Lord, of, the, Rings:, The, Fellowship, ...",[Peter Jackson ],178 min,(2001),8.8,92 Metascore
4,5.,"[The, Lord, of, the, Rings:, The, Two, Towers]",[Peter Jackson ],179 min,(2002),8.8,87 Metascore

In [11]:
df1=pd.DataFrame({'Movie Name':movie_name[0:1551], 
                  'stars':stars_name[0:1551],
                  'votes':votes[0:1551],
                  'Genre':genre[0:1551],
                  'Gross collection':gross_collection[0:1551],
                  'Certification':certification[0:1551],})
df1.head()

,Movie Name,stars,votes,Genre,Gross collection,Certification
0,"[The, Dark, Knight]","[ Stars: Christian Bale, Heath Ledger, Aaron E...","2,718,101","Action, Crime, Drama",$534.86M,PG-13
1,"[The, Lord, of, the, Rings:, The, Return, of, ...","[ Stars: Elijah Wood, Viggo Mortensen, Ian McK...","1,886,995","Action, Adventure, Drama",$377.85M,PG-13
2,[Inception],"[ Stars: Leonardo DiCaprio, Joseph Gordon-Levi...","2,412,873","Action, Adventure, Sci-Fi",$292.58M,PG-13
3,"[The, Lord, of, the, Rings:, The, Fellowship, ...","[ Stars: Elijah Wood, Ian McKellen, Orlando Bl...","1,915,671","Action, Adventure, Drama",$315.54M,PG-13
4,"[The, Lord, of, the, Rings:, The, Two, Towers]","[ Stars: Elijah Wood, Ian McKellen, Viggo Mort...","1,703,220","Action, Adventure, Drama",$342.55M,PG-13

# Data Correction and Bifurcation

In [13]:
df.to_csv('IMDBmovie1.csv',index=False)
# this will be stored directly to home page of jupyter
# select and download from there to downloads and open it in Excel.
# data correction and Bifurcation  of director_name done in Excel worksheet and stored in movie1.csv  name
# upload into home page of jupyter
# if any correction needed ,we can edit in excel and get uploaded  as overwrite to jupyter.

In [14]:
df1.to_csv('IMDBmovie2.csv',index=False)
# this will be stored directly to home page of jupyter 
# select and download from there to downloads and open it in Excel.
# data correction and Bifurcation of stars and genre done in Excel worksheet and stored in movie 2.csv name
# upload into home page of jupyter
# if any correction needed ,we can edit in excel and get uploaded  as overwrite to jupyter.

# Getting the final datasets

In [15]:
dfnew = pd.read_csv('movie1.csv')
dfnew.head()

,Sno,Movie_Name,Director_1,Director_2,Duration_in_mins,year,ratings_out_of 10,Metascore
0,1,The Dark Knight,Christopher Nolan,None,152,2008,9.0,84
1,2,The Lord of the Rings: The Return of the King,Peter Jackson,None,201,2003,9.0,94
2,3,Inception,Christopher Nolan,None,148,2010,8.8,74
3,4,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,None,178,2001,8.8,92
4,5,The Lord of the Rings: The Two Towers,Peter Jackson,None,179,2002,8.8,87

In [16]:
dfnew1=pd.read_csv('movie2.csv')
dfnew1.head()

,Movie_Name,star_1,star_2,star_3,star_4,votes,Genre_1,Genre_2,Genre_3,Gross collection,Certification
0,The Dark Knight,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2717521,Action,Crime,Drama,534.86,PG-13
1,The Lord of the Rings: The Return of the King,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,1886645,Action,Adventure,Drama,377.85,PG-13
2,Inception,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,2412332,Action,Adventure,Sci-Fi,292.58,PG-13
3,The Lord of the Rings: The Fellowship of the Ring,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,1915355,Action,Adventure,Drama,315.54,PG-13
4,The Lord of the Rings: The Two Towers,Elijah Wood,Ian McKellen,Viggo Mortensen,Orlando Bloom,1702927,Action,Adventure,Drama,342.55,PG-13